<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HF_API_KEY</key>
	<string>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</string>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
