//
//  EmotionAwareSecrets.xcconfig
//  Emotion Aware Writing Assistant
//
//  Created by Eshna Gupta on 1/19/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
OPENAI_API_KEY=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
HF_API_KEY=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
