//
//  EmotionAwareSecrets.xcconfig
//  Emotion Aware Writing Assistant
//
//  Created by Eshna Gupta on 1/19/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
OPENAI_API_KEY = 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
HF_API_KEY = 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
